﻿body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table {
	text-align: left;
}

thead {
	border-bottom: 1px solid black;
}

th {
	font-weight: bold;
	width: 100px;
	background-color: rgba(255, 106, 0,0.3);
}

td {
	background-color: rgba(255,106,0,0.15);
}

tbody tr:hover {
	background-color: rgba(255,106,0,0.45);
	transition-duration: 0.25s;
}

button {
	font-family: inherit;
	background-color: rgba(16, 54, 143,0.3);
	border: none;
	padding: 10px 20px 10px 20px;
	margin: 10px;
	transition-duration: 0.25s;
}

	button:hover {
		background-color: rgb(16,54,143);
		color: white;
	}

	button#formSubmit {
		font-weight: bold;
		background-color: rgba(255, 0, 0,0.15);
		transition-duration: 0.25s;
	}

		button#formSubmit:hover {
			background-color: rgb(255, 0, 0);
		}

#btnSimulationPage {
	border: none;
	padding: 10px 20px 10px 20px;
	margin: 10px;
	background-color: rgba(45, 154, 144,0.15);
	display: inline-block;
	color: black;
	text-decoration: none;
	transition-duration: 0.25s;
}

	#btnSimulationPage:visited {
		text-decoration: none;
	}

	#btnSimulationPage:hover {
		background-color: rgb(45, 154, 144);
		color: white;
	}

#btnGeolocationPage {
	border: none;
	padding: 10px 20px 10px 20px;
	margin: 10px;
	background-color: rgba(115, 14, 144,0.15);
	display: inline-block;
	color: black;
	text-decoration: none;
	transition-duration: 0.25s;
}

	#btnGeolocationPage:visited {
		text-decoration: none;
	}

	#btnGeolocationPage:hover {
		background-color: rgb(115, 14, 144);
		color: white;
	}

canvas {
	border: 1px solid black;
}

#btnSimulationStartStop {
	/*background-color: rgba(49, 255, 0,0.5);*/
}

	#btnSimulationStartStop.btnSimulationOff {
		background-color: rgba(234, 61, 22, 0.50);
	}

		#btnSimulationStartStop.btnSimulationOff:hover {
			background-color: rgb(234, 61, 22);
		}

	#btnSimulationStartStop.btnSimulationOn {
		background-color: rgba(49, 255, 0,0.5);
	}

		#btnSimulationStartStop.btnSimulationOn:hover {
			background-color: rgb(49, 255, 0);
		}

#btnSimulationSave {
	background-color: rgba(225, 135, 38,0.5);
}

	#btnSimulationSave:hover {
		background-color: rgb(225, 135, 38);
	}

#btnSimulationLoad {
	background-color: rgba(251, 223, 0, 0.50);
}

	#btnSimulationLoad:hover {
		background-color: rgb(251, 223, 0);
	}

.simulationWrapper {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-width: 350px;
	-moz-column-width: 350px;
	column-width: 350px;
	height: 500px;
	-webkit-column-rule: 1px solid black;
	-moz-column-rule: 1px solid black;
	column-rule: 1px solid black;
}

form {
	border: 1px solid rgba(255,106,0,0.15);
	padding: 10px;
}

	form input {
		margin-bottom: 10px;
		padding: 5px 2px 5px 2px;
		width: 200px;
	}
