﻿<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Styles/Common.css")" />

	<script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
</head>
<body>
	<div>
		@RenderBody()
	</div>
</body>
</html>
