﻿body {
	background-color: #ffc;
}

#container {
	background-color: #9cf;
	border-style: groove;
	width: 900px;
	height: 600px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding: 20px;
}
