﻿#target {
	border: solid;
	height: 150px;
	width: 500px;
	background-color: yellow;
	text-align: center;
}

#fileInfo {
	width: 500px;
}

table, th, td {
	border-collapse: collapse;
	border: 1px solid black;
}

th, td {
	padding: 5px;
}
