﻿.common-style {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#cover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 100;
}
#messageBox {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}
#messageContent {
  border: 1px solid;
  display: none;
  position: relative;
  margin: 100px auto auto auto;
  background-color: yellow;
  width: 30%;
  height: 30%;
  padding: 10px;
}
/*# sourceMappingURL=default.css.map */