﻿@model PersonViewModel

<div style="border:1px solid black;margin:5px">
	@Html.LabelFor(m => m.FirstName): @Model.FirstName
	<br />
	@Html.LabelFor(m => m.LastName): @Model.LastName
	<br />
	@Html.LabelFor(m => m.Age): @Model.Age
	<br />
	@Html.LabelFor(m => m.Salary): @Model.Salary.ToString("C")
	@if (Model.ToVerify)
	{
		<h3 style="color:red;font-weight:bold">To verify</h3>
	}
</div>