﻿.collumn-container {
	position: absolute;
	display: flex;
	flex-flow:column;
	width:100%;
	height: calc(100% - 200px);
	top: 100px;
}

.collumn {
	display:flex;
	flex: 1;
	min-width:150px;
	margin: 3px;
	border-radius: 10px;
	border: 1px dotted red;
	align-items:center;
	justify-content:center;
}

.collumn2 {
	display:flex;
	flex: 2;
	min-width:150px;
	margin: 3px;
	border: 1px dotted green;
	align-items:center;
	justify-content:center;
}

@media only screen and (min-width: 840px) {

	container {
		position: relative;
		height: 100%;
		width: 800px;
		margin-left: auto;
		margin-right: auto;
	}

	header {
		position: absolute;
		width: calc(100% - 2em - 20px);
		border: 2px solid orange;
		color: orange;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 40px;
		text-shadow: 1px 1px 3px black;
		border-radius: 5px;
		padding: 0.3em 1em;
		box-shadow: 1px 1px 3px black inset;
	}

	footer {
		position: absolute;
		bottom: 0;
		left: 30%;
		right: 30%;
		text-align: center;
		border: 2px solid blue;
		color: blue;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 20px;
		text-shadow: 1px 1px 3px black;
		border-radius: 5px;
		padding: 0.3em 1em;
		box-shadow: 1px 1px 3px black inset;
	}
}

@media only screen and (max-width: 840px) {
	container {
		position: relative;
		height: 100%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	header {
		position: absolute;
		width: calc(100% - 2em - 20px);
		border: 1px solid orange;
		color: orange;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 20px;
		text-shadow: 1px 1px 1px black;
		border-radius: 3px;
		padding: 0.3em 1em;
		box-shadow: 1px 1px 1px black inset;
	}

	footer {
		position: absolute;
		bottom: 0;
		left: 30%;
		right: 30%;
		text-align: center;
		border: 2px solid blue;
		color: blue;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		font-size: 10px;
		text-shadow: 1px 1px 1px black;
		border-radius: 2px;
		padding: 0.3em 1em;
		box-shadow: 1px 1px 2px black inset;
	}
}
