﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/qunit.css" )" />
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-2.1.3.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/qunit.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/CalculatorLibrary.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/tests.js")"></script>
</head>
<body>
	<h1 id="qunit-header">QUnit example</h1>
	<h2 id="qunit-banner"></h2>
	<div id="qunit-testrunner-toolbar"></div>
	<h2 id="qunit-userAgent"></h2>
	<ol id="qunit-tests"></ol>
	<div id="qunit-fixture">
		test markup, will be hidden
		<input id="txtResult" type="text" readonly="readonly" />
		<br />
		<input id="txtInput" type="text" />
		<br />
		<button id="btnNumber7">7</button>
		<button id="btnNumber8">8</button>
		<button id="btnNumber9">9</button>
		<br />
		<button id="btnNumber4">4</button>
		<button id="btnNumber5">5</button>
		<button id="btnNumber6">6</button>
		<br />
		<button id="btnNumber1">1</button>
		<button id="btnNumber2">2</button>
		<button id="btnNumber3">3</button>
		<br />
		<button id="btnClear">C</button>
		<button id="btnNumber0">0</button>
		<button id="btnClearEntry">CE</button>
		<br />
		<button id="btnPlus">+</button>
		<button id="btnMinus">-</button>
		<button id="btnMul">*</button>
		<button id="btnDiv">/</button>
	</div>
</body>
</html>