﻿@{
	ViewBag.Title = "Contact Us";
}

<link rel='stylesheet' type='text/css' href='@Url.Content("~/Content/default.css")' />

<div id="container">
	<header>
		<hgroup id="headerText">
			<h1>Contoso, Ltd.</h1>
			<h2>Your success equals our success</h2>
		</hgroup>
	</header>
	<nav>
		<a href='@Url.Action("Index", "Home")'>Home</a>
		<a href='@Url.Action("ContactUs", "Home")'>Contact Us</a>
	</nav>
	<div role="main">
		<div id="ContactUs">
			<form name="ContactForm" method="get">
				<div>
					<label for="firstName">First name</label>
					<input type="text" id="firstName" name="FirstName" required="required" />
				</div>
				<div>
					<label for="lastName">Last name</label>
					<input type="text" id="lastName" name="LastName" required="required" />
				</div>
				<div>
					<label for="email">Email address</label>
					<input type="email" id="email" name="Email" required="required" />
				</div>
				<div>
					<label for="message">Message</label>
					<textarea id="message" name="Message" required="required" ></textarea>
				</div>
				<div>
					<label for="rating">Rating</label>
					<input type="range" id="rating" name="Rating" min="1" max="5" value="3" />
				</div>
				<div>
					<button type="submit" id="submit" name="submit">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<aside>
		<p>Advertisements</p>
	</aside>
	<footer>
		<p>Copyright &copy; 2015, Contoso Ltd., All rights reserved</p>
	</footer>
</div>

<script type='text/javascript' src='@Url.Content("~/Scripts/jquery-2.1.3.min.js")'></script>
