﻿<link rel='stylesheet' type='text/css' href='@Url.Content("~/Content/default.css")' />

<div id="container">
	<header>
		<hgroup id="headerText">
			<h1>Contoso, Ltd.</h1>
			<h2>Your success equals our success</h2>
		</hgroup>
	</header>
	<nav>
		<a href='@Url.Action("Index", "Home")'>Home</a>
		<a href='@Url.Action("ContactUs", "Home")'>Contact Us</a>
	</nav>
	<div role="main">
		<div id='calculator'>
			<table>
				<tr>
					<td colspan="4">
						<input id='txtResult' type='text' readonly='readonly' />
					</td>
				</tr>
				<tr>
					<td colspan="4">
						<input id='txtInput' type='text' />
					</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><button id='btnClearEntry'>CE</button></td>
					<td><button id='btnClear'>C</button></td>
				</tr>
				<tr>
					<td><button id='btnNumber7'>7</button></td>
					<td><button id='btnNumber8'>8</button></td>
					<td><button id='btnNumber9'>9</button></td>
					<td><button id='btnPlus'>+</button></td>
				</tr>
				<tr>
					<td><button id='btnNumber4'>4</button></td>
					<td><button id='btnNumber5'>5</button></td>
					<td><button id='btnNumber6'>6</button></td>
					<td><button id='btnMinus'>-</button></td>
				</tr>
				<tr>
					<td><button id='btnNumber1'>1</button></td>
					<td><button id='btnNumber2'>2</button></td>
					<td><button id='btnNumber3'>3</button></td>
					<td><button id='btnMul'>*</button></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td><button id='btnNumber0'>0</button></td>
					<td><button id='btnDiv'>/</button></td>
				</tr>
			</table>
		</div>
	</div>
	<aside>
		<p>Advertisements</p>
	</aside>
	<footer>
		<p>Copyright &copy; 2015, Contoso Ltd., All rights reserved</p>
	</footer>
</div>

<script type='text/javascript' src='@Url.Content("~/Scripts/jquery-2.1.3.min.js")'></script>
<script type='text/javascript' src='@Url.Content("~/Scripts/CalculatorLibrary.js")'></script>
<script type='text/javascript' src='@Url.Content("~/Scripts/Index.js")'></script>
