﻿@model IEnumerable<PersonViewModel>

@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>
</head>
<body>
	All employees:
	@foreach (PersonViewModel personViewModel in Model)
	{
		@Html.EditorFor(m => personViewModel)
	}
</body>
</html>
