﻿<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/qunit.css")" />

<h1 id="qunit-header">QUnit example</h1>
<h2 id="qunit-banner"></h2>
<div id="qunit-testrunner-toolbar"></div>
<h2 id="qunit-userAgent"></h2>
<ol id="qunit-tests"></ol>
<div id="qunit-fixture">text markup, will be hidden</div>

<script src="@Url.Content("~/Scripts/qunit.js")"></script>
<script src="@Url.Content("~/Scripts/default.js")"></script>
<script src="@Url.Content("~/Scripts/tests.js")"></script>