﻿<script src="@Url.Content("~/Scripts/Geolocation/Geolocation.js")"></script>

<title>Geolocation</title>

<div>
	<label>Is geolocation supported? </label>
	<label id="labelGeolocationSupported"></label>
</div>

<div>
	<label>Latitude: </label>
	<label id="labelLatitude"></label>
	<br />
	<label>Longitude: </label>
	<label id="labelLongitude"></label>
</div>

<div id="outer" style="border:1px solid red;width:200px;height:200px">
	<div id="inner" style="border:1px solid green;width:100px;height:80px">

	</div>
</div>

<svg height="100" width="100">
	<circle cx="50" cy="50" r="40" stroke="black" stroke-width="3" fill="red" transform="scale(3)" />
</svg> 
