﻿@model IEnumerable<Person>

<title>Index</title>

<script src="@Url.Content("~/Scripts/Home/Home.js")"></script>

<button id="btnRefreshData">Refresh data</button>
<table id="tablePeople">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Age</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Person person in Model)
		{
			<tr>
				<td>@person.Id</td>
				<td>@person.Name</td>
				<td>@person.Age</td>
				<td hidden="hidden">@person.Salary</td>
			</tr>
		}
	</tbody>
</table>
<form method="post">
	<input id="personId" name="Id" hidden="hidden" />
	<input id="personSalary" name="Salary" hidden="hidden" />

	<input id="personName" type="text" name="Name" pattern="\S{2,30}" />
	<br />
	<input id="personAge" type="number" name="Age" min="1" max="255" />
	<br />
	<button id="formSubmit" type="submit">Accept changes</button>
</form>
@Html.ActionLink("Go to simulation", "Simulation", "Home", null, new { id = "btnSimulationPage" })
<br />
@Html.ActionLink("Go to geolocation", "Geolocation", "Home", null, new { id = "btnGeolocationPage" })