﻿<title>Simulation</title>

<script src="@Url.Content("~/Scripts/Custom/mc.utils.js")"></script>
<script src="@Url.Content("~/Scripts/Custom/mc.geometry.js")"></script>
<script src="@Url.Content("~/Scripts/Custom/mc.cellularautomata.js")"></script>
<script src="@Url.Content("~/Scripts/Simulation/Simulation.js")"></script>

<div class="simulationWrapper">
	<canvas id="simulationCanvas" width="300" height="300"></canvas>
	<div style="display:block">
		<button id="btnSimulationStartStop" class="btnSimulationOn">Start</button>
		<button id="btnSimulationSave">Save</button>
		<button id="btnSimulationLoad">Load</button>
	</div>
	<div>
		<label>Step interval</label>
		<input id="stepIntervalSlider" type="range" min="100" max="1000" step="100" value="500" />
		<label id="stepIntervalText"></label>
	</div>
	<div>
		<label>Zoom x</label>
		<input id="zoomUpDown" type="number" min="1" max="8" step="1" value="1" />
	</div>
	<div>
		<label>Color</label>
		<input id="colorPicker" type="color" value="#ff0000"/>
	</div>
	<table id="tableStates">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
	<div>
		<label id="lblStateId" hidden="hidden"></label>
		<label>Chosen state:</label>
		<label id="lblStateName"></label>
	</div>
</div>